@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home-content {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newprojectbtn {
  background-color: #413e68;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
}

.newprojectbtn a {
  text-decoration: none;
  color: white;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  margin-left: 2%;
  margin-right: 2%;
}

.card {
  border-radius: 10px;
  position: relative;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: calc(33.33% - 40px);
  height: 180px;
  margin-right: 3%;
  background-color: #c2c0db;
  padding: 15px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
  margin-bottom: 20px;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #413e68;
  height: 220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover::before {
  transition-delay: 0.2s;

  transform: scale(40);
}

.card:hover {
  color: #ffffff;
}

.card p {
  padding: 10px 0;
}

.clintdetails {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: 600;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

.arrow-icon {
  position: absolute;
  font-size: 30px;
  margin-right: 2%;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.arrow-link {
  display: block;
  color: #11101d;
}

.arrow-link:hover .arrow-icon {
  color: white;
}
.card:hover .arrow-icon {
  opacity: 1;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 3px solid #413e68;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 600;
}

.btn-txt {
  text-decoration: none;
  color: black;
  position: relative;
  font-size: 16px;
  z-index: 999;
}

.add-btn:hover {
  width: 120px;
  cursor: pointer;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #413e68;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #413e68;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
