body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  background-image: url(../../assets/k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.rege_success {
  color: green;
}

.error_msg {
  color: red;
}
.login-form {
  background-color: #11101d;
  padding: 58px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.input-group {
  margin-bottom: 20px;
}
.input-group p {
  margin-top: 30px;
}
.input-group label {
  display: inline-block;
  margin-bottom: 5px;
  color: white;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid grey;
}

button {
  margin-top: 10px;
  width: 107%;
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  background-color: #4e4983;
  border: none;
  border-radius: 9.5px;
  cursor: pointer;
}

button:hover {
  background-color: #787499;
}

.input-group a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.input-group a:hover {
  text-decoration: none;
  color: #787499;
  font-weight: 600;
}
.input-group p {
  color: rgb(171, 171, 171);
}

.rege_success {
  color: green;
  font-weight: bold;
}
